<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')"
>
  Cool article
</div>



<%= @list.name %>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>Movie_id : <%= bookmark.movie_id %>
    ---<%= bookmark.comment %>
    --- <%= link_to "Delete",bookmark_path(bookmark),data:{turbo_method: :delete, turbo_confirm: "Sure?"} %>
    </li>
  <% end %>
</ul>

<%= cl_image_tag @list.photo.key, height: 300, width: 400,crop: :fill %>
<p><%= link_to "Add a bookmark", new_list_bookmark_path(@list) %></p>
<p><%= link_to "Back to lists", root_path %></p>
